extends layout 

block content
    .container
        h1 #{titulo}, #{nome} - Bem Vindo!
        p Olá, #{nome} - bem vindo
        if idade >= 18
         p vc pode tirar a cnh
        else 
         p.erro vc ainda nao pode
        ul 
            each item in cidades 
                li= item
