doctype html 
html 
    head 
        title #{titulo}
        link(rel='stylesheet', href='/css/style.css')
    body 
        include components/menu 
        main
            block content 
        include components/footer
